<html>
	<head>
		<title>Dmitry's blog</title>
	</head>
	<body>
		<div>
		<h1>
		<strong>
			<a href="/">Это блог Дмитрия<a/>		
		</strong>
		</h1>
	<p>Блог написан на Python с помощью курса "DjangoGirls"</p>

		</div>

		<div>
			<h2>
				<em>
					<a href="">Перый пост<a/>
				</em>
			</h2>
			<p>Эта хрень работает!!!!!</p>
			<p>Теперь можно пойти покушать =)</p>
			<p>Дата публикации: 27.05.2021, 11:24</p>
		</div>
		
		<div>
			<h2>
				<em>
					<a href="">Второй пост<a/>
				</em>
			</h2>
			<p>Чтож, давайте разбираться в том что здесь и как.</p>
			
			<p>Дата публикации: 27.05.2021, 11:24</p>
		</div>
	</body>
	
</html>
